* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: #ddd;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 12;
    position: fixed;
}

.logo a {
    float: left;
    width: 30%;
    line-height: 100px;
    color: #FFDB33;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: bignoodletitling, sans-serif;
    color: #fff;
    letter-spacing: 5px;
}

nav {
    float: right;
    line-height: 100px;
}

nav a {
    text-decoration: none;
    font-family: bignoodletitling, sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}

.banner-area {
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(media/run.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.banner-area h2 {
    padding-top: 8%;
    font-size: 70px;
    font-family: poppins;
    text-transform: uppercase;
    color: #fff;
}

.content-area {
    width: 100%;
    position: relative;
    top: 600px;
    background: #ddd;
    height: 300px;
}

.content-area h2 {
    font-family: bignoodletitling, sans-serif;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.content-area p {
    padding: 2% 0;
    font-family: merienda;
    line-height: 30px;
}

.route-maps {
    position: relative;
    top: 600px;
    height: 450px;
    background: #fff;
}

.route-maps h2 {
    font-family: bignoodletitling, sans-serif;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2% 0;
}


.map img {
    width: 200px;
    height: 200px;
}

.map h3{
    padding: 4% 0;
}

.social-media {
    position: relative;
    top: 600px;
    height: 700px;
    background: #ddd;
}

.social-media h2 {
    font-family: bignoodletitling, sans-serif;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.social-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2% 0;
}

.instagram {
    height: 500px;
    overflow: scroll;
}

.strava-area {
    position: relative;
    width: 100%;
    height: 300px;
    top: 100px;

}

.strava-area h1 {
    font-size: 60px;
}

.strava-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.strava-container span {
    font-size: 40px;
}

.about-area {
    position: relative;
    background-color: #fff;
    height: 500px;
}

.us-container {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 30px;
}

.contact-section {
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background: url(media/mountain_range.jpg) no-repeat center;
    background-size: cover;
    padding: 40px;
}
.contact-section h1 {
    text-align: center;
}

.border {
    width: 100px;
    height: 10px;
    background: #2c3e50;
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: #2980b9;
}

.test-route-image {
    width: 500px;
    height: 500px;
    position: fixed;
    top: 100px;
}